<div id="message-<%= message.id %>">
  <% if message.user != current_user %>
    <div class="message-left-container">
      <div>
      <%= link_to user_path(message.user), class:"text-decoration-none" do %>
        <% if message.user.avatar.key.nil? %>
            <%= cl_image_tag("166z4p5m09mvswlb7a6hxhbasosu", class:"avatar-xs", alt:"Avatar") %>
          <% else %>
            <%= cl_image_tag message.user.avatar.key, class:"avatar-xs", alt:"Avatar" %>
          <% end %>
        <% end %>
      </div>
      <div class="message-left-content">
        <%= message.content %>
      </div>
    </div>
  <% else %>
    <div class="message-right-container">
      <div class="message-right-content">
        <%= message.content %>
      </div>
    </div>
  <% end %>
</div>
