<div id="message-<%= message.id %>">
    <div class="message-container">
      <div>
      <%= link_to user_path(message.user), class:"text-decoration-none" do %>
        <% if message.user.avatar.key.nil? %>
            <%= cl_image_tag("166z4p5m09mvswlb7a6hxhbasosu", class:"avatar-xs", alt:"Avatar") %>
          <% else %>
            <%= cl_image_tag message.user.avatar.key, class:"avatar-xs", alt:"Avatar" %>
          <% end %>
        <% end %>
      </div>
      <div class="message-content">
        <%= message.content %>
      </div>
    </div>
</div>
