<div class="show-user-container">
  <%= render "shared/topnavbar" %>
  <div class="form-title">Edit your profile</div>
  <div class="show-user-container" data-controller="places" data-places-api-key-value="<%= ENV['GOOGLE_MAPS_API_KEY'] %>">
    <div class="text-center">
      <% if @user.avatar.key.nil? %>
        <%= cl_image_tag("ltjpdg0x26bhr6ylcphyygo1fi88", class:"avatar-large m-3", alt:"Avatar") %>
      <% else %>
        <%= cl_image_tag @user.avatar.key, class:"avatar-large m-3", alt:"Avatar" %>
      <% end %>
      <%= simple_form_for@user, html: { "data-turbo-frame": false } do |f| %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :avatar, as: :file, label: "Change profile picture", wrapper_html: { class: "my-1"} %>
      </div>
      <div class="form-inputs">
        <div class= "form-row">
          <%= f.input :username, label: "Username", wrapper_html: { class: "m-2"}%>
        </div>
        <div class= "form-row">
          <%= f.input :bio, label: "Bio", wrapper_html: { class: "m-2" }%>
        </div>
        <div class= "form-row">
          <%= f.input :location, label: "Location", wrapper_html: { class: "m-2"} , input_html: { data: {target: "places.input"}},  data: { action: "keydown->places#initializeAutocomplete"}%>
        </div>
        <div class="text-center p-3">
          <%= f.button :submit, class: "btn btn-outline-primary", label: "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
