    <div class="text-center">
      <% if @user.avatar.nil? %>
        <img src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Avatar" class="avatar-large m-3">
      <% else %>
          <img src= <%=@user.avatar %> class="avatar-large m-3">
      <% end %>
      <%= simple_form_for@user, html: { "data-turbo-frame": false } do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <a href="">Change Profile Photo</a>
      </div>
    </div>
    <%= f.input :username, label: "Name", wrapper_html: { class: "d-flex justify-content-between align-items-center m-2"}, label_html: { class: "w-25" }, input_html: { class: "w-75" }%>
    <%= f.input :bio, label: "Bio", wrapper_html: { class: "d-flex justify-content-between align-items-center m-2"} , label_html: { class: "w-25" }, input_html: { class: "w-75" }%>
    <%= f.input :location, label: "Location", wrapper_html: { class: "d-flex justify-content-between align-items-center m-2"} , label_html: { class: "w-25" }, input_html: { class: "w-75" }%>
    <div class="text-center">
      <%= f.button :submit, class: "btn btn-outline-primary", label: "Submit" %>
    </div>
  <% end %>
