<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center p-4">
    <h1>InstaExplorer</h1>
    <div class="m-auto">
      <form class="form-inline search-form">
        <input class="form-control mr-sm-2" type="search" aria-label="Search">
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">See all user</h3>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <div>
        <%= link_to user_path(user), class:"text-decoration-none" do %>
          <% if user.avatar.nil? %>
            <img src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Avatar" class="avatar m-2">
          <% else %>
            <img src= <%=user.avatar %> class="avatar m-2">
          <% end %>
          <%= user.username %>
          <br>
        <% end %>
        Bio: <%= user.bio %>
        <br>
        Location: <%= user.location %>
      </div>
    <% end %>
  </div>
</div>
