<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center p-4">
    <h1>InstaExplorer</h1>
    <div class="m-auto">
      <form class="form-inline search-form">
        <input class="form-control mr-sm-2" type="search" aria-label="Search">
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">See all user</h3>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <div>
        <%= link_to user_path(user), class:"text-decoration-none" do %>
          <% if user.avatar.key.nil? %>
            <%= cl_image_tag("ltjpdg0x26bhr6ylcphyygo1fi88", class:"avatar m-2", alt:"Avatar") %>
          <% else %>
            <%= cl_image_tag user.avatar.key, class:"avatar m-2", alt:"Avatar" %>
          <% end %>
          <%= user.username %>
          <br>
        <% end %>
        Bio: <%= user.bio %>
        <br>
        Location: <%= user.location %>
      </div>
    <% end %>
  </div>
</div>
