<div class="user-profile">
  <div class="profile row">
    <div class="d-flex justify-content-start align-items-center">
      <div>
        <% if @user.avatar.key.nil? %>
          <%= cl_image_tag("ghaqanlp91lehqirmt1u", class:"avatar-large m-3", alt:"Avatar") %>
        <% else %>
            <%= cl_image_tag @user.avatar.key, class:"avatar-large m-3", alt:"Avatar" %>
        <% end %>
      </div>
      <div class="col-6 m-3 align-middle">
        <div class="d-flex justify-content-between">
          <div>
            <h3><%= @user.username%></h3>
          </div>
          <div>
          <% if @user == current_user %>
            <%= link_to edit_user_path(@user) do %>
              <i class="fa-solid fa-pen-to-square" style="color: #12aee2;"></i>
            <% end %>
          <% end %>
          </div>
        </div>
        <h5><%= @user.location %></h5>
        <p class="mb-0"><%= @user.bio %></p>
      </div>
    </div>
    <div class="d-flex justify-content-around align-items-center m-1">
      <div class="d-flex justify-content-center text-center">12 <br>
      posts</div>
      <div class="d-flex justify-content-center text-center">10 <br>
      followers</div>
      <div class="d-flex justify-content-center text-center"> 20 <br>
      following</div>
    </div>
  </div>

  <div class="bg-white rounded mt-3">
    <div class="user-tabs d-flex justify-content-around text-center">
      <a class="tab active" href="">
        <i class="fa fa-th"></i>
        Posts
      </a>
      <a class="tab" href="">
        <i class="fa fa-bookmark"></i>
        Saved
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
        <% @user.posts.each do |post| %>
          <% if @user.avatar.key.nil? %>
            <%= cl_image_tag("ghaqanlp91lehqirmt1u", class:"w-100 my-3") %>
          <% else %>
              <%= cl_image_tag @user.avatar.key, class:"w-100 my-3" %>
          <% end %>
          <% post.images.each do |image| %>
            <%= cl_image_tag image.key, height: 100, width: 200, crop: :fill %>
          <% end %>
          <li><%= post.title %></li>
          <li><%= post.description %></li>
          <li><%= post.location %></li>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
