<div class="show-user-container">
  <div class="header-container">
    <div class="header">
      <%= link_to root_path do%>
        <h1><i class="fa-brands fa-wpexplorer" style="color: #165eda;"></i>
          InstaExpore</h1>
      <% end %>
    </div>
  </div>

  <div class="user-profile">
    <div class="profile row">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center mt-2">
          <div>
            <% if @user.avatar.key.nil? %>
              <%= cl_image_tag("ltjpdg0x26bhr6ylcphyygo1fi88", class:"avatar-large m-3", alt:"Avatar") %>
            <% else %>
              <%= cl_image_tag @user.avatar.key, class:"avatar-large m-3", alt:"Avatar" %>
            <% end %>
          </div>
          <div class="col-6 m-3 align-middle">
            <div >
              <div>
                <h3><%= @user.username%></h3>
                <h5><%= @user.location %></h5>
              </div>

            </div>
          </div>
          <div>
            <% if current_user != @user %>
              <% if current_user.follows_as_follower.exists?(following_id: @user.id) %>
                <%= button_to "Unfollow", user_follow_path(@user), method: :delete, class: "btn-blue" %>
              <% else %>
                <%= button_to "Follow", user_follows_path(@user), method: :post, class: "btn-blue" %>
              <% end %>
            <% else %>
              <%= link_to edit_user_path(@user) do %>
                <i class="fa-solid fa-pen-to-square" style="color: #165eda"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <p class="m-2"><%= @user.bio %></p>
      <div class="d-flex justify-content-around align-items-center m-1">
        <div class="user-small-info-container"><%= @posts.count %> <br>
          posts</div>
        <div class="user-small-info-container">
          <%= link_to followers_user_follows_path(@user) do %>
            <%= @followers.count %> <br>
            followers
          <% end %>
        </div>
        <div class="user-small-info-container">
          <%= link_to followings_user_follows_path(@user) do %>
            <%= @followings.count %> <br>
            following
          <% end %>
        </div>
      </div>
    </div>

    <div class="bg-white rounded mt-3">
      <div class="user-tabs d-flex justify-content-around text-center">
        <a class="tab active" href="">
          <i class="fa fa-th"></i>
          Posts
        </a>
        <a class="tab" href="">
          <i class="fa fa-bookmark"></i>
          Saved
        </a>
      </div>
      <div class="container">
        <% if @posts.count > 0 %>
          <div class="row justify-content-md-center">
            <% @posts.each do |post| %>
              <div class="col-6">
                <%= link_to post_path(post) do %>
                  <%= cl_image_tag post.images.first.key, height: 200, width: 300, crop: :fill %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="row justify-content-md-center">
            <div class="col-6">
              <p class="text-center">No posts yet</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
