<h2>Change your password</h2>


<%= render "devise/shared/links" %>

<div class="show-user-container">
  <%= render "shared/topnavbar" %>
  <div>
  <div class="devise-title">Change your password</div>
    <div class="devise-content-container">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
        <div class= "log-in-form">
          <%= f.input :password,
                      label: "New password",
                      required: true,
                      autofocus: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class= "log-in-form">
          <%= f.input :password_confirmation,
                      label: "Confirm your new password",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
                      </div>
        </div>

        <div class="log-in-btn">
          <%= f.button :submit, "Change my password", class: "btn btn-blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
