<% if user_signed_in? %>
  <div class="footer-container">
    <div class="footer">
      <li><%= link_to root_path do%>
          <i class="fa-solid fa-house icon"></i>
        <% end %>
      </li>
      <li>
        <%= link_to notification_path(current_user) do%>
          <i class="fa-solid fa-bell icon"></i>
        <% end %>
      </li>
      <li>
        <%= link_to new_post_path do%>
          <i class="fa-solid fa-plus icon"></i>
        <% end %>
      </li>
      <li>
        <%= button_to chatrooms_path, method: :get, class:"transparent" do %>
          <i class="fa-solid fa-comments icon"></i></i>
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user) do%>
          <i class="fa fa-user icon"></i>
        <% end %>
      </li>
    </div>
  </div>
<% end %>
