    
<div class="post col-12 col-md-5">
  <div class="d-flex justify-content-between align-items-center">
    <div class="user-info">
      <%= link_to user_path(post.user), class:"text-decoration-none" do %>
        <div>
          <% if post.user.avatar.key.nil? %>
            <%= cl_image_tag("ltjpdg0x26bhr6ylcphyygo1fi88", class:"avatar m-2", alt:"Avatar") %>
          <% else %>
            <%= cl_image_tag post.user.avatar.key, class:"avatar m-2", alt:"Avatar" %>
          <% end %>
        </div>
        <div>
          <li><%= post.user.username %></li>
        <% end %>
      </div>
    </div>
    <div>
      <%= pluralize post.likes.count, "like" %>
    </div>
  </div>
  <%= link_to post_path(post) do %>
    <% post.images.each do |image| %>
      <%= cl_image_tag image.key, height: 200, width: 300, crop: :fill %>
    <% end %>
  <% end %>
  <li><%= post.title %></li>
</div>
