 <%# <div class="container">
      <div class="row">
        <div class="col-6">
          <%= post.title%>
<%# </div>
        <div class="col-6">
          2 of 2
        </div>
      </div>
    </div> %>

<div class= "bg-light">
  <li><%= post.image%></li>
  <li><%= post.title %></li>
  <li><%= post.description %></li>
  <li><%= post.location %></li>
</div>
