<div class="post col-12">
  <div class="d-flex justify-content-between align-items-center">
    <div class="user-info">
      <%= link_to user_path(post.user), class:"text-decoration-none" do %>
        <div>
          <% if post.user.avatar.key.nil? %>
            <%= cl_image_tag("ltjpdg0x26bhr6ylcphyygo1fi88", class:"avatar m-2", alt:"Avatar") %>
          <% else %>
            <%= cl_image_tag post.user.avatar.key, class:"avatar m-2", alt:"Avatar" %>
          <% end %>
        </div>
        <div>
          <li><%= post.user.username %></li>
        <% end %>
      </div>
    </div>
    <div class="like-count-container">
      <%= pluralize post.likes.count, "like" %>
    </div>
  </div>
  <%= link_to post_path(post) do %>
    <%= cl_image_tag post.images.first.key, class:"full-width-height", crop: :fill %>
  <% end %>
  <div class="post-content"><%= post.title %></div>
</div>
