<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <% post.images.each do |image| %>
        <%= cl_image_tag image.key, height: 200, width: 300, crop: :fill %>
      <% end %>
    <% end %>
    <li><%= post.title %></li>
    <div class="d-flex justify-content-between align-items-center">
      <div class="user-info">
        <%= link_to user_path(post.user), class:"text-decoration-none" do %>
        <div>
          <% if post.user.avatar.key.nil? %>
            <%= cl_image_tag("ghaqanlp91lehqirmt1u", class:"avatar m-2", alt:"Avatar") %>
          <% else %>
            <%= cl_image_tag post.user.avatar.key, class:"avatar m-2", alt:"Avatar" %>
          <% end %>
        </div>
        <div>
          <li><%= post.user.username %></li>
        <% end %>
        </div>
      </div>
      <div>
        <i class="fa-regular fa-heart"></i>
        <%= post.likes.count %>
      </div>
  </div>
  <% end %>
</div>
