<div class="postshow-container">
  <%= render "shared/topnavbar" %>
  <div class="form-title">Add new post</div>
  <div class="postshow-container" data-controller="places" data-places-api-key-value="<%= ENV['GOOGLE_MAPS_API_KEY'] %>">
    <%= simple_form_for@post, html: { "data-turbo-frame": false } do |f| %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <div class= "form-row">
          <%= f.input :images, as: :file, label: "Add images", wrapper_html: { class: "m-2"}, input_html: { multiple: true }%>
        </div>
        <div class= "form-row">
          <%= f.input :title , label: "Title", wrapper_html: { class: "m-2"}%>
        </div>
        <div class= "form-row">
          <%= f.input :description, label: "Description", wrapper_html: { class: "m-2"}%>
        </div>
        <div class= "form-row">
          <%= f.input :location, label: "Location", wrapper_html: { class: "m-2"}, input_html: { data: {target: "places.input"}},  data: { action: "keydown->places#initializeAutocomplete"}%>
        </div>
        <div class= "text-center p-3">
          <%= f.button :submit, class: "btn btn-outline-primary", label: "Submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
