<div class="postshow-container" data-controller="comment">
  <div class="header-container">
    <div class="header">
      <%= link_to root_path do%>
        <h1><i class="fa-brands fa-wpexplorer" style="color: #165eda;"></i>
          InstaExpore</h1>
      <% end %>
    </div>
  </div>
  <div class="user-section">
    <div class="user-info">
      <%= link_to user_path(@post.user), class:"text-decoration-none" do %>
        <div>
          <% if @post.user.avatar.key.nil? %>
            <%= cl_image_tag("ltjpdg0x26bhr6ylcphyygo1fi88", class:"avatar m-2", alt:"Avatar") %>
          <% else %>
            <%= cl_image_tag @post.user.avatar.key, class:"avatar m-2", alt:"Avatar" %>
          <% end %>
        </div>
        <div class="user-text-info">
          <li><%= @post.user.username %></li>
        <% end %>
        <li><%= @post.location %></li>
      </div>
    </div>
    <div>
      <% if current_user != @post.user && (current_user.follows_as_follower.exists?(following_id: @post.user.id) == false) %>
        <%= button_to "Follow", user_follows_path(@post.user), method: :post, class: "btn-blue" %>
      <% end %>
    </div>
  </div>
  <% if @post.images.count > 1 %>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% num = 0 %>
        <% @post.images.each do |image| %>
          <% if num == 0 %>
            <div class="carousel-item active">
              <%= cl_image_tag image.key, class:"post-img", crop: :fill %>
              <% num +=1 %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= cl_image_tag image.key, class:"post-img", crop: :fill %>
              <% num +=1 %>
            </div>
          <% end %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% end %>
      </div>
    </div>
  <% else %>
    <% @post.images.each do |image| %>
      <%= cl_image_tag image.key, class:"post-img", crop: :fill %>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <% if @post.likes.find { |like| like.user_id == current_user.id} %>
        <%= button_to post_like_path(@post), method: :delete, class:"transparent" do %>
          <i class="fa-solid fa-heart"></i>
        <% end %>
      <% else %>
        <%= button_to post_likes_path(@post), method: :post, class:"transparent"  do %>
          <i class="fa-regular fa-heart"></i>
        <% end %>
      <% end %>
      <button class="transparent" data-action="click->comment#show">
        <i class="fa-regular fa-comment"></i>
      </button>
      <%= pluralize @post.likes.count, "like" %>
    </div>
    <div class="d-flex justify-content-between">
      <% if @post.user == current_user %>
        <%= link_to edit_post_path(@post), class: "transparent" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%=  button_to delete_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "transparent" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="content-container">
    <li>
      <h5><%= @post.title %></h5>
    </li>
    <li>
      <p><%= @post.description %></p>
    </li>
    <div>
      <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
        <div data-insert-in-list-target="items">
          <% if @post.comments.blank? == false %>
            <% @post.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
          <% end %>
        </div>
        <div data-comment-target="commentsdiv" class="comment-form">
          <%= render "comments/form", post: @post, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Back", :back %>
</div>
