<div class="container">
  <div class="user-info">
  <%= link_to user_path(@post.user), class:"text-decoration-none" do %>
    <div>
      <% if @post.user.avatar.key.nil? %>
        <%= cl_image_tag("ghaqanlp91lehqirmt1u", class:"avatar m-2", alt:"Avatar") %>
      <% else %>
        <%= cl_image_tag @post.user.avatar.key, class:"avatar m-2", alt:"Avatar" %>
      <% end %>
    </div>
    <div>
      <li><%= @post.user.username %></li>
    <% end %>
      <li><%= @post.location %></li>
    </div>
  </div>
  <% @post.images.each do |image| %>
    <%= cl_image_tag image.key, class:"post-img", crop: :fill %>
  <% end %>
  <div>
      <% if @post.likes.find { |like| like.user_id == current_user.id} %>
        <%= button_to post_like_path(@post), method: :delete, class:"transparent" do %>
          <i class="fa-solid fa-heart"></i>
        <% end %>
      <% else %>
        <%= button_to post_likes_path(@post), method: :post, class:"transparent"  do %>
          <i class="fa-regular fa-heart"></i>
        <% end %>
      <% end %>
    <i class="fa-regular fa-comment"></i>
    <%= pluralize @post.likes.count, "like" %>
  </div>
  <li><h5><%= @post.title %></h5></li>
  <li><p><%= @post.description %></p></li>
  <p>
    <% if policy(@post).edit? %>
      <%= link_to "Edit this post", edit_post_path(@post) %> |
    <% end %>
    <%= button_to "Destroy this post", @post, method: :delete if policy(@post).destroy? %>
    <%= link_to "All post", root_path %>
  </p>
</div>
