<!DOCTYPE html>
<html>
  <head>
    <title>InstaExplore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body>
    <!--Navigation Bar-->
  <% if user_signed_in? %>
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa-brands fa-wpexplorer" style="color: #12aee2;"></i>
            InstaExplore
          <% end %>
        </div>
        <div class="user-section">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do%>
            <i class="fa fa-user"></i>
          <% end %>
        </div>
      </div>
    </nav>
<% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>

      <%= yield %>
      <%= render "shared/flashes" %>
  </body>
</html>
