<!DOCTYPE html>
<html>
  <head>
    <title>InstaExplore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY]}&libraries=places&callback=initMap"></script> %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>

  <body>
    <div class="application-container">
      <%= yield %>
      <%= render "shared/flashes" %>
      <%= render "shared/bottomnavbar" %>
    </div>
  </body>
</html>
