<!DOCTYPE html>
<html>
  <head>
    <title>InstaExplore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
      <%= ".msg-#{current_user&.id}" %> {
      background-color: blue; !important;
      color: white; !important;
      display:flex;
      }
      <%= ".cont-#{current_user&.id}" %> {
      display: flex;
        justify-content: flex-end;
        margin: 15px 0px 15px 50px; !important;
      }
      <%= ".avatar-#{current_user&.id}" %> {
      display: none;
      }
    </style>

  </head>

  <body>
    <div class="application-container">
      <%= yield %>
      <%= render "shared/flashes" %>
      <%= render "shared/bottomnavbar" %>
    </div>
  </body>
</html>
